In [38]:
import os
import pandas as pd

In [39]:
# Chemin des fichiers
data_dir = r'C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data'

# Liste des fichiers CSV
data_files = [f for f in os.listdir(data_dir) if f.endswith('.csv')]

# Chargement des DataFrames dans un dictionnaire
dataframes = {
    f"df_{file.split('.')[0]}": pd.read_csv(os.path.join(data_dir, file))
    for file in sorted(data_files)
}

In [40]:
# Vérification des dimensions des DataFrames chargés
for key, df in dataframes.items():
    print(f"{key} loaded with shape: {df.shape}")

df_2015 loaded with shape: (158, 12)
df_2016 loaded with shape: (157, 13)
df_2017 loaded with shape: (155, 12)
df_2018 loaded with shape: (156, 9)
df_2019 loaded with shape: (156, 9)

In [41]:
# Vérifier les colonnes de chaque dataset
for key, df in dataframes.items():
    print(f"{key} columns: {df.columns.tolist()}")

df_2015 columns: ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
df_2016 columns: ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
df_2017 columns: ['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual']
df_2018 columns: ['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
df_2019 columns: ['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [42]:
# Obtenir les colonnes communes
common_columns = set.intersection(*(set(df.columns) for df in dataframes.values()))
print("Colonnes communes :", common_columns)

Colonnes communes : {'Generosity'}

In [43]:
# Liste des noms standards des colonnes
standard_columns = [
    'Country', 'Region', 'Happiness Rank', 'Happiness Score', 'GDP per capita',
    'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity',
    'Perceptions of corruption', 'Year', 'Dystopia Residual'
]

In [44]:
# Mapping des colonnes par année
column_mappings = [
    {
        'Country': 'Country',
        'Region': 'Region',
        'Happiness Rank': 'Happiness Rank',
        'Happiness Score': 'Happiness Score',
        'Economy (GDP per Capita)': 'GDP per capita',
        'Family': 'Social support',
        'Health (Life Expectancy)': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust (Government Corruption)': 'Perceptions of corruption',
        'Dystopia Residual': 'Dystopia Residual',
    },
    {
        'Country': 'Country',
        'Region': 'Region',
        'Happiness Rank': 'Happiness Rank',
        'Happiness Score': 'Happiness Score',
        'Economy (GDP per Capita)': 'GDP per capita',
        'Family': 'Social support',
        'Health (Life Expectancy)': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust (Government Corruption)': 'Perceptions of corruption',
        'Dystopia Residual': 'Dystopia Residual',
    },
    {
        'Country': 'Country',
        'Happiness.Rank': 'Happiness Rank',
        'Happiness.Score': 'Happiness Score',
        'Economy..GDP.per.Capita.': 'GDP per capita',
        'Family': 'Social support',
        'Health..Life.Expectancy.': 'Healthy life expectancy',
        'Freedom': 'Freedom',
        'Generosity': 'Generosity',
        'Trust..Government.Corruption.': 'Perceptions of corruption',
        'Dystopia.Residual': 'Dystopia Residual',
    },
    {
        'Country or region': 'Country',
        'Overall rank': 'Happiness Rank',
        'Score': 'Happiness Score',
        'GDP per capita': 'GDP per capita',
        'Social support': 'Social support',
        'Healthy life expectancy': 'Healthy life expectancy',
        'Freedom to make life choices': 'Freedom',
        'Generosity': 'Generosity',
        'Perceptions of corruption': 'Perceptions of corruption',
    },
    {
        'Country or region': 'Country',
        'Overall rank': 'Happiness Rank',
        'Score': 'Happiness Score',
        'GDP per capita': 'GDP per capita',
        'Social support': 'Social support',
        'Healthy life expectancy': 'Healthy life expectancy',
        'Freedom to make life choices': 'Freedom',
        'Generosity': 'Generosity',
        'Perceptions of corruption': 'Perceptions of corruption',
    }
]

In [45]:
# Chargement des fichiers dans un dictionnaire
dataframes = {}
for year, file_name in zip([2015, 2016, 2017, 2018, 2019], data_files):
    file_path = os.path.join(data_dir, file_name)
    df = pd.read_csv(file_path)
    
    # Renommer les colonnes selon le mapping
    column_map = column_mappings[year - 2015]
    df.rename(columns=column_map, inplace=True)
    
    # Ajouter des colonnes manquantes avec NaN
    for col in standard_columns:
        if col not in df.columns:
            df[col] = pd.NA
    
    # Réorganiser les colonnes selon le schéma standard
    df = df[standard_columns]
    
    # Ajouter la colonne 'Year'
    df['Year'] = year
    
    # Sauvegarder le DataFrame dans le dictionnaire avec un nom basé sur l'année
    dataframes[f'df_{year}'] = df

In [46]:
# Vérification
for year in range(2015, 2020):
    print(f"DataFrame df_{year} standardized:")
    print(dataframes[f'df_{year}'].head())
    print("-" * 50)

DataFrame df_2015 standardized:
       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   GDP per capita  Social support  Healthy life expectancy  Freedom  \
0         1.39651         1.34951                  0.94143  0.66557
1         1.30232         1.40223                  0.94784  0.62877
2         1.32548         1.36058                  0.87464  0.64938
3         1.45900         1.33095                  0.88521  0.66973
4         1.32629         1.32261                  0.90563  0.63297

   Generosity  Perceptions of corruption  Year  Dystopia Residual
0     0.29678                    0.41978  2015            2.51738
1     0.43630                    0.14145  2015            2.70201
2     0.34139                    0.48357  2015            2.49204
3     0.34699                    0.36503  2015            2.46531
4     0.45811                    0.32957  2015            2.45176
--------------------------------------------------
DataFrame df_2016 standardized:
       Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   GDP per capita  Social support  Healthy life expectancy  Freedom  \
0         1.44178         1.16374                  0.79504  0.57941
1         1.52733         1.14524                  0.86303  0.58557
2         1.42666         1.18326                  0.86733  0.56624
3         1.57744         1.12690                  0.79579  0.59609
4         1.40598         1.13464                  0.81091  0.57104

   Generosity  Perceptions of corruption  Year  Dystopia Residual
0     0.36171                    0.44453  2016            2.73939
1     0.28083                    0.41203  2016            2.69463
2     0.47678                    0.14975  2016            2.83137
3     0.37895                    0.35776  2016            2.66465
4     0.25492                    0.41004  2016            2.82596
--------------------------------------------------
DataFrame df_2017 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0       Norway   <NA>               1            7.537        1.616463
1      Denmark   <NA>               2            7.522        1.482383
2      Iceland   <NA>               3            7.504        1.480633
3  Switzerland   <NA>               4            7.494        1.564980
4      Finland   <NA>               5            7.469        1.443572

   Social support  Healthy life expectancy   Freedom  Generosity  \
0        1.533524                 0.796667  0.635423    0.362012
1        1.551122                 0.792566  0.626007    0.355280
2        1.610574                 0.833552  0.627163    0.475540
3        1.516912                 0.858131  0.620071    0.290549
4        1.540247                 0.809158  0.617951    0.245483

   Perceptions of corruption  Year  Dystopia Residual
0                   0.315964  2017           2.277027
1                   0.400770  2017           2.313707
2                   0.153527  2017           2.322715
3                   0.367007  2017           2.276716
4                   0.382612  2017           2.430182
--------------------------------------------------
DataFrame df_2018 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0      Finland   <NA>               1            7.632           1.305
1       Norway   <NA>               2            7.594           1.456
2      Denmark   <NA>               3            7.555           1.351
3      Iceland   <NA>               4            7.495           1.343
4  Switzerland   <NA>               5            7.487           1.420

   Social support  Healthy life expectancy  Freedom  Generosity  \
0           1.592                    0.874    0.681       0.202
1           1.582                    0.861    0.686       0.286
2           1.590                    0.868    0.683       0.284
3           1.644                    0.914    0.677       0.353
4           1.549                    0.927    0.660       0.256

   Perceptions of corruption  Year Dystopia Residual
0                      0.393  2018              <NA>
1                      0.340  2018              <NA>
2                      0.408  2018              <NA>
3                      0.138  2018              <NA>
4                      0.357  2018              <NA>
--------------------------------------------------
DataFrame df_2019 standardized:
       Country Region  Happiness Rank  Happiness Score  GDP per capita  \
0      Finland   <NA>               1            7.769           1.340
1      Denmark   <NA>               2            7.600           1.383
2       Norway   <NA>               3            7.554           1.488
3      Iceland   <NA>               4            7.494           1.380
4  Netherlands   <NA>               5            7.488           1.396

   Social support  Healthy life expectancy  Freedom  Generosity  \
0           1.587                    0.986    0.596       0.153
1           1.573                    0.996    0.592       0.252
2           1.582                    1.028    0.603       0.271
3           1.624                    1.026    0.591       0.354
4           1.522                    0.999    0.557       0.322

   Perceptions of corruption  Year Dystopia Residual
0                      0.393  2019              <NA>
1                      0.410  2019              <NA>
2                      0.341  2019              <NA>
3                      0.118  2019              <NA>
4                      0.298  2019              <NA>
--------------------------------------------------

In [47]:
# Vérifier les NaN dans chaque DataFrame
for year in range(2015, 2020):
    print(f"NaN count for df_{year}:")
    print(dataframes[f'df_{year}'].isna().sum())
    print("-" * 50)

NaN count for df_2015:
Country                      0
Region                       0
Happiness Rank               0
Happiness Score              0
GDP per capita               0
Social support               0
Healthy life expectancy      0
Freedom                      0
Generosity                   0
Perceptions of corruption    0
Year                         0
Dystopia Residual            0
dtype: int64
--------------------------------------------------
NaN count for df_2016:
Country                      0
Region                       0
Happiness Rank               0
Happiness Score              0
GDP per capita               0
Social support               0
Healthy life expectancy      0
Freedom                      0
Generosity                   0
Perceptions of corruption    0
Year                         0
Dystopia Residual            0
dtype: int64
--------------------------------------------------
NaN count for df_2017:
Country                        0
Region                       155
Happiness Rank                 0
Happiness Score                0
GDP per capita                 0
Social support                 0
Healthy life expectancy        0
Freedom                        0
Generosity                     0
Perceptions of corruption      0
Year                           0
Dystopia Residual              0
dtype: int64
--------------------------------------------------
NaN count for df_2018:
Country                        0
Region                       156
Happiness Rank                 0
Happiness Score                0
GDP per capita                 0
Social support                 0
Healthy life expectancy        0
Freedom                        0
Generosity                     0
Perceptions of corruption      1
Year                           0
Dystopia Residual            156
dtype: int64
--------------------------------------------------
NaN count for df_2019:
Country                        0
Region                       156
Happiness Rank                 0
Happiness Score                0
GDP per capita                 0
Social support                 0
Healthy life expectancy        0
Freedom                        0
Generosity                     0
Perceptions of corruption      0
Year                           0
Dystopia Residual            156
dtype: int64
--------------------------------------------------

In [48]:
# Pour chaque DataFrame de 2015 à 2019
for year in range(2015, 2020):
    df = dataframes[f'df_{year}']
    num_nans = df.isna().sum().sum()  # Calculer le nombre total de NaN
    nan_columns = df.columns[df.isna().any()].tolist()  # Obtenir les colonnes contenant des NaN
    print(f"Nombre de NaNs dans le DataFrame {year}: {num_nans}")
    if num_nans > 0:
        print(f"---Colonnes avec des NaNs dans le DataFrame {year}: {nan_columns}")

Nombre de NaNs dans le DataFrame 2015: 0
Nombre de NaNs dans le DataFrame 2016: 0
Nombre de NaNs dans le DataFrame 2017: 155
---Colonnes avec des NaNs dans le DataFrame 2017: ['Region']
Nombre de NaNs dans le DataFrame 2018: 313
---Colonnes avec des NaNs dans le DataFrame 2018: ['Region', 'Perceptions of corruption', 'Dystopia Residual']
Nombre de NaNs dans le DataFrame 2019: 312
---Colonnes avec des NaNs dans le DataFrame 2019: ['Region', 'Dystopia Residual']

In [49]:
for year in range(2015, 2020):
    df = dataframes[f'df_{year}']
    df.fillna({
        'Region': 'Unknown',  # Remplacer les valeurs manquantes de 'Region' par 'Unknown'
        'Perceptions of corruption': 0,  # Remplacer les valeurs manquantes par 0
        'Dystopia Residual': 0  # Remplacer les valeurs manquantes par 0
    }, inplace=True)
    dataframes[f'df_{year}'] = df

C:\Users\BILAL\AppData\Local\Temp\ipykernel_22200\243148135.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna({

In [51]:
for year in range(2015, 2020):
    num_nans = dataframes[f'df_{year}'].isna().sum().sum()
    print(f"Number of NaNs in {year} dataframe: {num_nans}")

Number of NaNs in 2015 dataframe: 0
Number of NaNs in 2016 dataframe: 0
Number of NaNs in 2017 dataframe: 0
Number of NaNs in 2018 dataframe: 0
Number of NaNs in 2019 dataframe: 0

In [52]:
dataframes['df_2017'][['Country','Region']].head()

       Country   Region
0       Norway  Unknown
1      Denmark  Unknown
2      Iceland  Unknown
3  Switzerland  Unknown
4      Finland  Unknown

In [54]:
dataframes['df_2018'][['Country','Region']].head()

       Country   Region
0      Finland  Unknown
1       Norway  Unknown
2      Denmark  Unknown
3      Iceland  Unknown
4  Switzerland  Unknown

In [55]:
dataframes['df_2019'][['Country','Region']].head()

       Country   Region
0      Finland  Unknown
1      Denmark  Unknown
2       Norway  Unknown
3      Iceland  Unknown
4  Netherlands  Unknown

In [58]:
# Mapping des pays vers leurs régions respectives
country_to_region = {
    'Norway': 'Western Europe',
    'Denmark': 'Western Europe',
    'Iceland': 'Western Europe',
    'Switzerland': 'Western Europe',
    'Finland': 'Western Europe',
    'Netherlands': 'Western Europe',
    'Canada': 'North America',
    'New Zealand': 'Australia and New Zealand',
    'Sweden': 'Western Europe',
    'Australia': 'Australia and New Zealand',
    'Israel': 'Middle East and Northern Africa',
    'Costa Rica': 'Latin America and Caribbean',
    'Austria': 'Western Europe',
    'United States': 'North America',
    'Ireland': 'Western Europe',
    'Germany': 'Western Europe',
    'Belgium': 'Western Europe',
    'Luxembourg': 'Western Europe',
    'United Kingdom': 'Western Europe',
    'Chile': 'Latin America and Caribbean',
    'United Arab Emirates': 'Middle East and Northern Africa',
    'Brazil': 'Latin America and Caribbean',
    'Czech Republic': 'Central and Eastern Europe',
    'Argentina': 'Latin America and Caribbean',
    'Mexico': 'Latin America and Caribbean',
    'Singapore': 'Southeastern Asia',
    'Malta': 'Southern Europe',
    'Uruguay': 'Latin America and Caribbean',
    'Guatemala': 'Latin America and Caribbean',
    'Panama': 'Latin America and Caribbean',
    'France': 'Western Europe',
    'Thailand': 'Southeastern Asia',
    'Taiwan Province of China': 'Eastern Asia',
    'Spain': 'Western Europe',
    'Qatar': 'Middle East and Northern Africa',
    'Colombia': 'Latin America and Caribbean',
    'Saudi Arabia': 'Middle East and Northern Africa',
    'Trinidad and Tobago': 'Latin America and Caribbean',
    'Kuwait': 'Middle East and Northern Africa',
    'Slovakia': 'Central and Eastern Europe',
    'Bahrain': 'Middle East and Northern Africa',
    'Malaysia': 'Southeastern Asia',
    'Nicaragua': 'Latin America and Caribbean',
    'Ecuador': 'Latin America and Caribbean',
    'El Salvador': 'Latin America and Caribbean',
    'Poland': 'Central and Eastern Europe',
    'Uzbekistan': 'Central and Eastern Europe',
    'Italy': 'Western Europe',
    'Russia': 'Central and Eastern Europe',
    'Belize': 'Latin America and Caribbean',
    'Japan': 'Eastern Asia',
    'Lithuania': 'Central and Eastern Europe',
    'Algeria': 'Middle East and Northern Africa',
    'Latvia': 'Central and Eastern Europe',
    'South Korea': 'Eastern Asia',
    'Moldova': 'Central and Eastern Europe',
    'Romania': 'Central and Eastern Europe',
    'Bolivia': 'Latin America and Caribbean',
    'Turkmenistan': 'Central Asia',
    'Kazakhstan': 'Central Asia',
    'North Cyprus': 'Middle East and Northern Africa',
    'Slovenia': 'Central and Eastern Europe',
    'Peru': 'Latin America and Caribbean',
    'Mauritius': 'Sub-Saharan Africa',
    'Cyprus': 'Southern Europe',
    'Estonia': 'Central and Eastern Europe',
    'Belarus': 'Central and Eastern Europe',
    'Libya': 'Middle East and Northern Africa',
    'Turkey': 'Middle East and Northern Africa',
    'Paraguay': 'Latin America and Caribbean',
    'Hong Kong S.A.R., China': 'Eastern Asia',
    'Philippines': 'Southeastern Asia',
    'Serbia': 'Central and Eastern Europe',
    'Jordan': 'Middle East and Northern Africa',
    'Hungary': 'Central and Eastern Europe',
    'Jamaica': 'Latin America and Caribbean',
    'Croatia': 'Central and Eastern Europe',
    'Kosovo': 'Central and Eastern Europe',
    'China': 'Eastern Asia',
    'Pakistan': 'Southern Asia',
    'Indonesia': 'Southeastern Asia',
    'Venezuela': 'Latin America and Caribbean',
    'Montenegro': 'Central and Eastern Europe',
    'Morocco': 'Middle East and Northern Africa',
    'Azerbaijan': 'Central and Eastern Europe',
    'Dominican Republic': 'Latin America and Caribbean',
    'Greece': 'Southern Europe',
    'Lebanon': 'Middle East and Northern Africa',
    'Portugal': 'Southern Europe',
    'Bosnia and Herzegovina': 'Central and Eastern Europe',
    'Honduras': 'Latin America and Caribbean',
    'Macedonia': 'Central and Eastern Europe',
    'Somalia': 'Sub-Saharan Africa',
    'Vietnam': 'Southeastern Asia',
    'Nigeria': 'Sub-Saharan Africa',
    'Tajikistan': 'Central Asia',
    'Bhutan': 'Southern Asia',
    'Kyrgyzstan': 'Central Asia',
    'Nepal': 'Southern Asia',
    'Mongolia': 'Eastern Asia',
    'South Africa': 'Sub-Saharan Africa',
    'Tunisia': 'Middle East and Northern Africa',
    'Palestinian Territories': 'Middle East and Northern Africa',
    'Egypt': 'Middle East and Northern Africa',
    'Bulgaria': 'Central and Eastern Europe',
    'Sierra Leone': 'Sub-Saharan Africa',
    'Cameroon': 'Sub-Saharan Africa',
    'Iran': 'Middle East and Northern Africa',
    'Albania': 'Southern Europe',
    'Bangladesh': 'Southern Asia',
    'Namibia': 'Sub-Saharan Africa',
    'Kenya': 'Sub-Saharan Africa',
    'Mozambique': 'Sub-Saharan Africa',
    'Myanmar': 'Southeastern Asia',
    'Senegal': 'Sub-Saharan Africa',
    'Zambia': 'Sub-Saharan Africa',
    'Iraq': 'Middle East and Northern Africa',
    'Gabon': 'Sub-Saharan Africa',
    'Ethiopia': 'Sub-Saharan Africa',
    'Sri Lanka': 'Southern Asia',
    'Armenia': 'Southern Europe',
    'India': 'Southern Asia',
    'Mauritania': 'Sub-Saharan Africa',
    'Congo (Brazzaville)': 'Sub-Saharan Africa',
    'Georgia': 'Southern Europe',
    'Congo (Kinshasa)': 'Sub-Saharan Africa',
    'Mali': 'Sub-Saharan Africa',
    'Ivory Coast': 'Sub-Saharan Africa',
    'Cambodia': 'Southeastern Asia',
    'Sudan': 'Sub-Saharan Africa',
    'Ghana': 'Sub-Saharan Africa',
    'Ukraine': 'Central and Eastern Europe',
    'Uganda': 'Sub-Saharan Africa',
    'Burkina Faso': 'Sub-Saharan Africa',
    'Niger': 'Sub-Saharan Africa',
    'Malawi': 'Sub-Saharan Africa',
    'Chad': 'Sub-Saharan Africa',
    'Zimbabwe': 'Sub-Saharan Africa',
    'Lesotho': 'Sub-Saharan Africa',
    'Angola': 'Sub-Saharan Africa',
    'Afghanistan': 'Southern Asia',
    'Botswana': 'Sub-Saharan Africa',
    'Benin': 'Sub-Saharan Africa',
    'Madagascar': 'Sub-Saharan Africa',
    'Haiti': 'Latin America and Caribbean',
    'Yemen': 'Middle East and Northern Africa',
    'South Sudan': 'Sub-Saharan Africa',
    'Liberia': 'Sub-Saharan Africa',
    'Guinea': 'Sub-Saharan Africa',
    'Togo': 'Sub-Saharan Africa',
    'Rwanda': 'Sub-Saharan Africa',
    'Syria': 'Middle East and Northern Africa',
    'Tanzania': 'Sub-Saharan Africa',
    'Burundi': 'Sub-Saharan Africa',
    'Central African Republic': 'Sub-Saharan Africa',
}

In [59]:
# Fonction pour mettre à jour la colonne 'Region' en fonction du pays
def fill_missing_region(df):
    df['Region'] = df.apply(lambda row: country_to_region.get(row['Country'], row['Region']), axis=1)
    return df

# Appliquer la fonction à chaque DataFrame (df_2017, df_2018, df_2019)
for year in ['2017', '2018', '2019']:
    dataframes[f'df_{year}'] = fill_missing_region(dataframes[f'df_{year}'])

# Vérifier les premiers résultats pour df_2017
dataframes['df_2017'][['Country', 'Region']].head()

       Country          Region
0       Norway  Western Europe
1      Denmark  Western Europe
2      Iceland  Western Europe
3  Switzerland  Western Europe
4      Finland  Western Europe

In [60]:
# Vérifier les premiers résultats pour df_2018
dataframes['df_2018'][['Country', 'Region']].head()

       Country          Region
0      Finland  Western Europe
1       Norway  Western Europe
2      Denmark  Western Europe
3      Iceland  Western Europe
4  Switzerland  Western Europe

In [61]:
# Vérifier les premiers résultats pour df_2019
dataframes['df_2019'][['Country', 'Region']].head()

       Country          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2       Norway  Western Europe
3      Iceland  Western Europe
4  Netherlands  Western Europe

In [63]:
# Boucle pour afficher les valeurs uniques de la colonne 'Region' pour chaque DataFrame
for year in ['2015', '2016','2017', '2018', '2019']:
    unique_regions = dataframes[f'df_{year}']['Region'].unique()
    print(f"Unique regions in df_{year}: {unique_regions}")
    print("-" * 50)

Unique regions in df_2015: ['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia']
--------------------------------------------------
Unique regions in df_2016: ['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia']
--------------------------------------------------
Unique regions in df_2017: ['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Central and Eastern Europe' 'Southeastern Asia' 'Southern Europe'
 'Eastern Asia' 'Central Asia' 'Sub-Saharan Africa' 'Southern Asia']
--------------------------------------------------
Unique regions in df_2018: ['Western Europe' 'North America' 'Australia and New Zealand'
 'Latin America and Caribbean' 'Middle East and Northern Africa'
 'Central and Eastern Europe' 'Southern Europe' 'Unknown'
 'Southeastern Asia' 'Eastern Asia' 'Sub-Saharan Africa' 'Central Asia'
 'Southern Asia']
--------------------------------------------------
Unique regions in df_2019: ['Western Europe' 'Australia and New Zealand' 'North America'
 'Latin America and Caribbean' 'Middle East and Northern Africa'
 'Central and Eastern Europe' 'Southern Europe' 'Unknown'
 'Southeastern Asia' 'Eastern Asia' 'Sub-Saharan Africa' 'Central Asia'
 'Southern Asia']
--------------------------------------------------

In [66]:

# Directory for saving
output_directory = r"C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned"

# Export each dataframe to a CSV file
for year in ['2015', '2016', '2017', '2018', '2019']:
    # Correct format for file name (e.g., cleaned_2015.csv, cleaned_2016.csv, etc.)
    file_name = f"cleaned_{year}.csv"
    
    # Construct the full file path
    file_path = os.path.join(output_directory, file_name)
    
    # Export to CSV
    dataframes[f'df_{year}'].to_csv(file_path, index=False)
    
    # Confirmation message
    print(f"Exported df_{year} to {file_path}")

Exported df_2015 to C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned\cleaned_2015.csv
Exported df_2016 to C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned\cleaned_2016.csv
Exported df_2017 to C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned\cleaned_2017.csv
Exported df_2018 to C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned\cleaned_2018.csv
Exported df_2019 to C:\M2DS\S3\Data_Viz\World-Happiness-Dashboard\Data\cleaned\cleaned_2019.csv

In [67]:
# Vérifier les informations des colonnes 'Happiness Rank' et 'Happiness Score' dans chaque DataFrame
for year in ['2015', '2016', '2017', '2018', '2019']:
    print(f"Data for df_{year}:")
    print(dataframes[f'df_{year}'][['Happiness Rank', 'Happiness Score']].head())
    print("-" * 40)

Data for df_2015:
   Happiness Rank  Happiness Score
0               1            7.587
1               2            7.561
2               3            7.527
3               4            7.522
4               5            7.427
----------------------------------------
Data for df_2016:
   Happiness Rank  Happiness Score
0               1            7.526
1               2            7.509
2               3            7.501
3               4            7.498
4               5            7.413
----------------------------------------
Data for df_2017:
   Happiness Rank  Happiness Score
0               1            7.537
1               2            7.522
2               3            7.504
3               4            7.494
4               5            7.469
----------------------------------------
Data for df_2018:
   Happiness Rank  Happiness Score
0               1            7.632
1               2            7.594
2               3            7.555
3               4            7.495
4               5            7.487
----------------------------------------
Data for df_2019:
   Happiness Rank  Happiness Score
0               1            7.769
1               2            7.600
2               3            7.554
3               4            7.494
4               5            7.488
----------------------------------------